@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TaxUnb Simulator</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
            var wsGroup = new WebSocket("ws://localhost:9000/wsGroup");
            wsGroup.onopen = function(){
              console.log("connection stablished!!");
            }
            wsGroup.onmessage = function(jsonClient) {
              console.log(jsonClient);
                var client       = JSON.parse(jsonClient.data);
                var name         = document.createElement("td");
                name.appendChild(document.createTextNode(client.name));
                var saldoCore    = document.createElement("td");
                saldoCore.appendChild(document.createTextNode(client.saldoCore));
                var saldoBdfin   = document.createElement("td");
                saldoBdfin.appendChild(document.createTextNode(client.saldoBDFIN));
                var saldoPendUnb = document.createElement("td");
                saldoPendUnb.appendChild(document.createTextNode(client.saldoPendUNB));
                var nfs          = document.createElement("td");
                nfs.appendChild(document.createTextNode(client.nfs));
                var newLine    = document.createElement("tr");
                newLine.appendChild(name);
                newLine.appendChild(saldoCore);
                newLine.appendChild(saldoBdfin);
                newLine.appendChild(saldoPendUnb);
                newLine.appendChild(nfs);
                var tableGroups = document.getElementById("table-groups");
                tableGroups.appendChild(newLine);
            };
            function recarga() {
              wsGroup.send("recarga-PREPG-10");
  					};
            function consumo() {
              wsGroup.send("consumo-TDATA-10");
            };
            function newClient() {
              wsGroup.send("resetClient");
            };
  			</script>
        <p>TaxUnb Simulator
        <button onclick="newClient()">novo cliente</button>
        <button onclick="recarga()">recarga</button>
        <button onclick="consumo()">consumo</button>
        <table style="width:100%" id="table-groups">
        <tr>
          <td>[NOME]</td>
          <td>[SALDO CORE]</td>
          <td>[SALDO BDFIN]</td>
          <td>[SALDO PENDENTE DE DESONERAÇÃO]</td>
          <td>[NOTAS FISCAIS]</td>
        </tr>
      </table>
</html>
