@import helper._

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TaxUnb Simulator</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
        <script src="@routes.Assets.versioned("javascripts/hello.js")" type="text/javascript"></script>
    </head>
    <body>
        <script type="text/javascript" charset="utf-8">
            var wsGroup = new WebSocket("ws://localhost:9000/wsGroup");
            wsGroup.onopen = function(){
              console.log("connection stablished!!");
            }
            wsGroup.onmessage = function(jsonClient) {
              console.log(jsonClient);
                var client = JSON.parse(jsonClient.data);
                document.getElementById("saldoCore").textContent  = client.saldoCore;
                document.getElementById("saldoBdfin").textContent = client.saldoBDFIN;
                var snfs = detailsSaldoUnb(client.saldoPendUNB);
                for (i in snfs) {
                  document.getElementById("saldoUnb").appendChild(snfs[i]);
                };
                var nfs = detailsNF(client.nfs);
                for (i in nfs) {
                  document.getElementById("nfs").appendChild(nfs[i]);
                };
            };
            function recarga() {
              wsGroup.send("recarga-PREPG-" + document.getElementById("rv").value);
  					};
            function consumo() {
              wsGroup.send("consumo-" + document.getElementById("ct").value + "-" + document.getElementById("cv").value);
            };
            function newClient() {
              wsGroup.send("resetClient");
            };
            function detailsSaldoUnb(arr) {
              if (arr.length == 0) {
                return null;
              } else {
                var f =
                  arr.map(function (c) {
                    var d = document.createElement("details");
                    var s = document.createElement("summary");
                    s.appendChild(document.createTextNode("NF:" + c.nf.nfId + "|saldoPendUNB:" + c.value));
                    d.appendChild(s);
                    return d;
                  });
                return f;
              }
            };
            function detailsNF(nfs) {
              if (nfs.length == 0) {
                return null;
              } else {
                var f =
                  nfs.map(function (nf) {
                    var d = document.createElement("details");
                    var s = document.createElement("summary");
                    s.appendChild(document.createTextNode("NF:" + nf.nfId + "|Value:" + nf.nfValue));
                    d.appendChild(s);
                    var t = document.createTextNode("Type:"    + nf.nfType + "|BC:" + nf.bcValue + "|assocValue:" + nf.assocValue +
                                                    "|svaUNB:" + nf.svaUNB + "|scrdUNB:" + nf.scrdUNB);
                    d.appendChild(t);
                    return d;
                  });
                return f;
              }
            };
  			</script>
        <p>TaxUnb Simulator
        <table style="width:100%" id="table-operations">
          <tr>
            <td>
              <button onclick="newClient()">novo cliente</button>
            </td>
          </tr>
          <tr>
            <td>
              <button onclick="recarga()">recarga</button> <input type="text" id="rv">
            </td>
          </tr>
          <tr>
            <td>
              <button onclick="consumo()">consumo</button> Valor: <input type="text" id="cv"> Tipo: <select id="ct">
                                                                                                      <option value="TDATA">TDATA</option>
                                                                                                      <option value="TBRASIL">TBRASIL</option>
                                                                                                      <option value="SCRD">SCRD</option>
                                                                                                    </select>
            </td>
          </tr>
        </table>
        <table style="width:100%" id="table-groups">
        <tr>
          <td>[SALDO CORE]</td>
          <td>[SALDO BDFIN]</td>
          <td>[SALDO PENDENTE DE DESONERAÇÃO]</td>
          <td>[NOTAS FISCAIS]</td>
        </tr>
        <tr>
          <td id="saldoCore">0</td>
          <td id="saldoBdfin">0</td>
          <td id="saldoUnb"></td>
          <td id="nfs"></td>
        </tr>
      </table>
</html>
